# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/Temp*
.idea/
*.log
FASR-A/
FASR-B/
*.pdf
*.jpg
*.png
*.key
*2.py
*2.ipynb
*.last
*.fits
.DS_Store
.ipynb_checkpoints/
__pycache__/
